<h2 class="del-header">Delete</h2>

<p class="index-header">
    <a >Course</a>
</p>

<mat-card>
    <hr />
    <mat-card-content>
      <dl class="row">
        <dt class="col-sm-2">Course ID</dt>
        <dd class="col-sm-10">{{courseDetails.courseID}}</dd>
        <dt class="col-sm-2">Course Title</dt>
        <dd class="col-sm-10">{{courseDetails.title}}</dd>
        <dt class="col-sm-2">Course Credits</dt>
        <dd class="col-sm-10">{{courseDetails.credits}}</dd>
        <dt class="col-sm-2">No. of Enrollments</dt>
        <dd class="col-sm-10">{{courseDetails.enrollments.length}}</dd>
      </dl>

      <div class="text-left mt-3">
        <button mat-raised-button color="warn" (click)="courseDelete()">Delete</button>
      </div>

      <div class="text-left mt-3">
        <a href="course/index">Go Back.</a>
      </div>
      
    </mat-card-content>
  </mat-card>
  