
<h2 class="index-header">Index</h2>

<p class="create-new">
    <a href="student/create">Create New</a>
</p>

<mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-content>

   

    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z5">

        <ng-container matColumnDef="id">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Student ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="firstMidName">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>First/Mid Name</th>
            <td mat-cell *matCellDef="let element">{{element.firstMidName}}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="joinedDate">
            <th 
            mat-sort-header mat-header-cell *matHeaderCellDef>Joined Date</th>
            <td mat-cell *matCellDef="let element">{{element.joinedDate}}</td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">

                <button mat-raised-button color="accent" [routerLink]="['/student/details',element.id]">Details</button>
                <button mat-raised-button color="primary" [routerLink]="['/student/edit',element.id]">Edit</button>
                <button mat-raised-button color="warn" [routerLink]="['/student/delete',element.id]">Delete</button>

            
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColoumns"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColoumns"></tr>

    </table>

    </mat-card-content>

    <mat-card-footer>

        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

    </mat-card-footer>

</mat-card>

