.det-header {
    font-size: 3em; 
    margin-top: 35px;
    margin-left: 25%;
}

.index-header {
    margin-top: 10px;
    margin-left: 25%;
}

.index-header a {
    font-size: 1.2em;
    font-weight: bolder; /* Adjust the font size of the link as needed */
}

mat-card {
    margin-left: 25%;
    margin-right: 25%;
    
}

dl.row dt {
    margin-bottom: 15px;
  }

  dt {
    margin-bottom: 0.6em; /* Adjust as needed */
    }
    
    dd {
    margin-left: 0; /* Reset the left margin */
    margin-bottom: 2em; /* Adjust as needed */
    }
  