<h2 class="edit-header">Edit</h2>

<p class="index-header">
    <a >Course</a>
</p>

<div class="justify-content-center">
  <mat-card class="col-md-6 justify-content-center">
    <mat-card-header></mat-card-header>
    <mat-card-content>

      <form id="frmAdmin" (ngSubmit)="submitForm()" class="form" #form="ngForm">

        <div class="form-group">
          <label for="title">Course Title</label>
          <input id="title" name="title" type="text" [(ngModel)]="courseModel.title"  class="form-control inputs"  />
        </div>

        <div class="form-group">
          <label for="credits">Course Credits</label>
          <input id="credits" name="credits" type="number" [(ngModel)]="courseModel.credits"  class="form-control inputs"  />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="btnSignUp">Update</button>
        </div>

        <div class="text-left mt-3">
          <a href="course/index">Go Back.</a>
        </div>
      </form>

    </mat-card-content>

    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
