<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>Contoso University</h1>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav  mode="side">
        <mat-nav-list>
            <a mat-list-item href="/home">
                <mat-icon>home</mat-icon>
                Home
            </a>
            <a mat-list-item href="/student/index">
                <mat-icon>school</mat-icon>
                Students
            </a>
            <a mat-list-item>
                <mat-icon>assignment</mat-icon>
                Enrollments
            </a>
            <a mat-list-item>
                <mat-icon>book</mat-icon>
                Courses
            </a>
            <a mat-list-item href="/signup">
                <mat-icon>person_add</mat-icon>
                Sign Up
            </a>
            <a mat-list-item href="/login">
                <mat-icon>login</mat-icon>
                Log in
            </a>
            <a mat-list-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                Log out
            </a>
        </mat-nav-list>
        
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 83vh;">
            <router-outlet>
            </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary" class="footer" style="text-align: center;">
    <mat-toolbar-row>
        <span class="footer-text" style="font-size: 12px; font-weight: normal;">
            &copy; 2023 Contoso University. All rights reserved.
        </span>
    </mat-toolbar-row>
</mat-toolbar>



