<div class="jumbotron text-center">
    <h1>Welcome to Contoso University</h1>
    <p>
        Explore the world of education with Contoso University, a cutting-edge application that showcases the power of Entity Framework Core in building robust ASP.NET Core MVC web applications.
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 feature-box">
            <h2>Discover Contoso University</h2>
            <p>
                Immerse yourself in a rich learning experience. Contoso University demonstrates best practices for creating engaging and efficient web applications. Explore the possibilities!
            </p>
        </div>

        <div class="col-lg-4 feature-box">
            <h2>Build it from Scratch</h2>
            <p>
                Ready to dive into the world of web development? Follow our step-by-step tutorials to build Contoso University from scratch. From setting up the environment to deploying your application – we've got you covered.
            </p>
            <p>
                <a class="btn btn-primary" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">
                    Start Building &raquo;
                </a>
            </p>
        </div>

        <div class="col-lg-4 feature-box">
            <h2>Download the Project</h2>
            <p>
                Want to explore the completed Contoso University project? Download the full source code from our GitHub repository. Learn, experiment, and contribute to the world of open-source development.
            </p>
            <p>
                <a class="btn btn-primary" href="https://github.com/layanmoyura/Soft-Gallery-Project.git">
                    Explore on GitHub &raquo;
                </a>
            </p>
        </div>
    </div>
</div>

