body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #680bc0;
}

.jumbotron {
    background-color: #ffffff;
    color: #680bc0;
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
}

.feature-box {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}

.feature-box h2 {
    color: #680bc0;
}

.feature-box p {
    color: #6C757D;
}

.btn-primary {
    background-color: #680bc0 !important;
    border-color: #680bc0 !important;
}

